<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Management</title>
</head>
<body>
      <form action="/admin/addGenderCategory" method="POST">
        <div class="mb-4">
          <label for="genderCategory" class="block text-lg font-lg text-gray-900">Add Gender Category</label>
          <input type="text" name="name" id="genderCategory" class="mt-1 p-2 border border-gray-300 rounded w-full">
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 mt-2 rounded"> Add </button> 
        </div>
      </form> 
      
      <!-- Add Product Category Form -->
      <form action="/admin/addProductCategory" method="POST">  
        <div class="mb-4">
          <label for="productCategory" class="block text-lg font-lg text-gray-900">Add Product Category</label>
          <input type="text" name="name" id="productCategory" class="mt-1 p-2 border border-gray-300 rounded w-full">
          <label for="genderCategory" class="block text-sm font-medium text-gray-700">Select Gender Category</label>   
          <select name="genderCategory" class="mt-1 p-2 border border-gray-300 rounded w-full">
            <% genderCategories.forEach(gender => { %>
              <option value="<%= gender._id %>"><%= gender.name %></option>
            <% }) %>
          </select>
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 mt-2 rounded">Add</button>
        </div>
      </form>
      
      <!-- Add Product Sub Category Form -->
      <form action="/admin/addProductSubCategory" method="POST">
        <div class="mb-4">
          <label for="productSubCategory" class="block text-lg font-lg text-gray-900">Add Product Sub Category</label>
          <input type="text" name="name" id="productSubCategory" class="mt-1 p-2 border border-gray-300 rounded w-full">  
          <label for="genderCategory" class="block text-sm font-medium text-gray-700">Select Gender Category</label>
          <select name="genderCategory" class="mt-1 p-2 border border-gray-300 rounded w-full">
            <% genderCategories.forEach(gender => { %>
              <option value="<%= gender._id %>"><%= gender.name %></option> 
            <% }) %>
          </select>
          <label for="productCategory" class="block text-sm font-medium text-gray-700">Select Product Category</label> 
          <select name="productCategory" class="mt-1 p-2 border border-gray-300 rounded w-full">
            <% productCategories.forEach(category => { %>
              <option value="<%= category._id %>"><%= category.name %> - <%= category.genderCategory.name %></option>
            <% }) %>
          </select>
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 mt-2 rounded">Add</button>
        </div>
      </form>
</body>
</html>