 <!-- Orders Table -->
 <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-md rounded">
      <thead class="bg-gray-100">
        <tr>
          <th class="p-4  border">Order ID</th>
          <th class="p-4  border">Order Date</th>
          <th class="py-4 border">Email</th>
          <th class="py-4 border">Order Status</th>
          <th class="py-4 border">Payment Status</th>
          <th class="py-4 border">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(order => { %>
          <tr class="border-t">
            <!-- Order ID -->
            <td class="p-4 border"><%= order._id %></td> 

            <!-- Order Date -->
            <td class="p-4 border"><%= new Date(order.createdAt).toLocaleDateString() %></td>

            <!-- Username -->
            <td class="p-4 border"><%= order.userId.email %></td>       

            <!-- Order Status -->
      <td class="p-4 border">
        <select 
          class="order-status-select"
          data-order-id="<%= order._id %>"
          onchange="updateOrderStatus(this)"> 
          <option value="pending" <%= order.orderStatus === 'pending' ? 'selected' : '' %>>Pending</option>
          <option value="shipped" <%= order.orderStatus === 'shipped' ? 'selected' : '' %>>Shipped</option>
          <option value="delivered" <%= order.orderStatus === 'delivered' ? 'selected' : '' %>>Delivered</option>
          <option value="cancelled" <%= order.orderStatus === 'cancelled' ? 'selected' : '' %>>Cancelled</option>
        </select>
      </td>

      <!-- Payment Status -->
      <td class="p-4 border">
        <a class=""><%= order.paymentStatus %></a> 
      </td>


            <!-- View Button -->
            <td class="py-2 px-4 border text-center">
              <a href="/admin/orders/<%= order._id %>" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                View
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>




  <script>
    //update order status
    function updateOrderStatus(elm){
      const orderStatus = elm.value ;
      const orderId =  elm.dataset.orderId ;
    
      fetch("/admin/updateOrderStatus",{
        method : "POST",
        headers : { 'Content-Type' : "application/json" },
        body :JSON.stringify({ orderStatus, orderId }) 
      })
      .then(response => response.json())
      .then(data=>{
          if(data.success){
            window.location.reload();
          }else{
            alert(data.message);
          } 
      })

    }



   

  </script>